@{
    ViewBag.Title = "Home Page";
}
<br /><br /><br /><br /><br /><br /><br />
<div class="container">
    <form class="text-center " action="~/Resturant/Index">
        <select class="form-control"  name="Place">
            <option>Assuit</option>
            <option>Sohag</option>
            <option>Cairo</option>
            <option>Elminia</option>
        </select>
        <br /><br />
        <input class="btn-lg" type="submit" />
    </form>
</div>
<br /><br /><br /><br /><br /><br /><br />
